#root {
  margin-left: auto;
  margin-right: auto;
  color: white;
  justify-content: center;
  text-align: center;

  
}


.root-elem {
  color: white;
  justify-content: center;
  text-align: center;
  
}
.movie-card {
  background-color: #E0DFD5;
  display: flex;
  flex-direction:column;
  justify-content:center;
  width: 300px;
  height: 400px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
}
.movies-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

}
p {
  display:flex;
  justify-content: center;
  text-align: center;
  
}

.summary-p {
  color: black;
}

body {
  background-color: #313638;
}

.episode-name {
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2em;
  padding: 5px 10px;
  margin: 8px;
  color: #424b54;
  
}
.search {
  display: block;
}
