#root {
  color: red;
}
.movie-card {
  background-color: burlywood;
  display: flex;
  flex-direction:column;
  justify-content:center;
}
.movies-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
p {
  display:flex;
  justify-content: center;
}
